page-home {

}
.card .table{
    width:80%!important;
    margin:0 auto !important;
    text-align:center!important;
}
.btn
{
 float:right;
 background-color:orange;   
}
.editbtn
{
    width:auto!important;
}
